@import 'libreria/_eric-meyer-reset.min.scss';
@import 'libreria/_animate.scss';
@import '../fonts/icomoon/style.css';
@import 'componentes/_variables.scss';
@import 'componentes/_mixin.scss';
@import 'componentes/_menus.scss';
@import 'componentes/_zonas.scss';




html {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.absolute {
    position: absolute;
}

.contenedor {
    margin: 0 auto;
    position: relative;
    max-width: 1100px;
}
.exterior{
    max-width: 1060px;
}

.imagen-principal-small{
    background-image: url('../img/imagen-principal-small.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
    margin-top: -100px;
    background-size: contain;
    @media only screen and (min-width : $bp){
        display: none;
    }
}
.titular {
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: 1.2px;
    font-size: 1.2em;
    font-weight: bold;
    flex: 1 100%;
}


.callto{
    ul{
        margin: 1em 0;
    }
    li{
        border-radius: 4px;
        float: left;
        letter-spacing: 1.5px;
        text-align: center;
        transition: ease all .3s;
        position: relative;
        font-size: 15px;
         &:hover{
            background-color: white;
            color: black;
            border:2px solid black;
        }
    }
    .contratar{
        border:2px solid #ffd858;
        margin-right: 1em;
        padding: 15px 5%;
        background-color: #ffd858;
        width: 60%;
        @media only screen and (min-width : $bp){
            padding: 15px 40px;
        }
    }
    .precios{
        border:2px solid #b9c4e5;
        width: 30%;
        padding: 15px 3%;
        background-color: #b9c4e5;
    }
}
.zona_callto {
    width: 100%;
    display: inline-block;
    padding-top: 3em ;
    .callto {
        ul{
            width: 90%;
            margin:1em auto;
        }
        li{
            width: 100%;
            font-size: 18px;
            margin-bottom: 1em;
        }
        @media only screen and (min-width : $bp){
            
            ul{
                width: 340px;
                margin:0 auto;
            }
            li{
                width: auto;
                float: left;
            }
        }
    }
        

}


.footer{
    background-color: $color1;
    .caja{
        display: flex;
        color: white;
        font-size: 14px;
        font-size: italic;
        text-align: center;
        letter-spacing: .5px;
        padding: 2em 4em;
        justify-content:space-between;
        opacity: 0.7;
        flex-flow: column;
        max-width: 300px;
        margin: 0 auto;
        @media only screen and (min-width : $bp){
            flex-flow: row wrap;
            max-width: 100%;
            text-align: left;
        }
    }
    ul{
        margin: 1em;
    }
    li{
        margin-bottom: 5px;
        a:hover{
            border-bottom: 1px solid white;
        }
    }
    .lista{
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    img{
        width: 120px;
        &:hover{
            opacity: 0.7;
        }
    }
}
