include modulos/cabecera.pug
<div class="animated fadeIn">
    <div class="zona_texto_generico">
        <h2>Acceso Empresas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti facilis ullam repudiandae, fugiat suscipit porro cupiditate incidunt, pariatur sunt praesentium blanditiis impedit libero eligendi repellendus molestias accusantium placeat harum nisi.</p>
    </div>
</div>

include modulos/footer.pug