include modulos/cabecera.pug

<div class="animated fadeIn">
    <div class="zona_texto_generico">
        <h2>Contratar</h2>
        <p>Rellene el formulario y nos pondremos en contacto con usted</p>
        <div class="zona_formulario">
            <div class="formulario">
                <div class="row">
                    <div class="box small-100 medium-50 ">
                        <label>Nombre</label>
                        <input class="required" type="text" name="name" placeholder="Nombre" required="">
                    </div>
                    <div class="box small-100 medium-50 ">
                        <label>Apellido</label>
                        <input class="required" type="text" name="name" placeholder="Apellido" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="box small-100">
                        <label>Empresa</label>
                        <input class="required" type="text" name="name" placeholder="Empresa" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="box small-100 medium-50 ">
                        <label>Ciudad</label>
                        <input class="required" type="text" name="name" placeholder="Ciudad" required="">
                    </div>
                    <div class="box small-100 medium-50 ">
                        <label>Teléfono</label>
                        <input class="required" type="tel" name="name" placeholder="Teléfono" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="small-100">
                        <label>Email</label>
                        <input class="required" type="email" name="name" placeholder="Email" required="">
                    </div>
                </div>
            </div>
            <div class="enviar">
                <button>ENVIAR </button>
            </div>
        </div>
    </div>

include modulos/footer.pug